<!DOCTYPE html>
<html>
<head>
<meta charset="utf8" />
  <title>Crear grupo | ultimatE</title>
  <link href="../css/estiloLogin.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" >
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

</head>
<body id="fondoLogin" ng-app="app">
<div class="login-card" ng-controller="asignarController">
    <h1>ultimatE <br><small style="font-size:15px; line-height:15px">Chat - Metodología Agil</small></h1><br>
  <form>
    <select ng-model="grupo" name="grupo" id="grupo" class="form-control">
      <option ng-repeat=" grupo in listaGrupos track by $index" value="{{grupo._id}}"> {{grupo.nombre}} </option>
    </select>
    <select ng-model="usuario" name="usuario" id="usuario" class="form-control">
      <option ng-repeat=" user in listaUsuarios track by $index" value="{{user._id}}"> {{user.user}} </option>
    </select>
    <input ng-click="registrar()" type="submit" name="login" class="login login-submit" value="Asignar Usuario">
  </form>
</div>
<!-- <div id="error"><img src="https://dl.dropboxusercontent.com/u/23299152/Delete-icon.png" /> Your caps-lock is on.</div> -->

<script src="socket.io/socket.io.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/controller.js"></script>
</body>
</html>

<!-- chat funcional (sin gestion de usuario)
y que su contenido se guarde en mongodb
ademas que este se cargue al momento de recargar la pagina -->