<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
        <title>Board | ultimatE</title>
        <link rel="stylesheet" href="../css/material-design-iconic-font.min.css">
        <link href="../css/style.css" rel="stylesheet" type="text/css" />
        <link href="../css/estiloChat.css" rel="stylesheet" type="text/css" />

    </head>
    <body ng-app="app" class="fixed-left">
        <div id="wrapper" ng-controller="chatController">
            <div class="topbar">
                <div class="topbar-left">
                    <a href="/board" class="logo">
                        <i class=""></i>
                        <span>ultimatE</span></a>
                </div>
                <nav class="navbar navbar-custom">
                    <ul class="nav navbar-nav">
                        <li class="nav-item hidden-mobile">
                            <form role="search" class="app-search">
                                <input type="text" placeholder="Búsqueda..." class="form-control">
                                <a href=""><i class="zmdi zmdi-search-for"></i></a>
                            </form>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav pull-right">
                        <li class="nav-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <i class="zmdi zmdi-notifications-none noti-icon"></i>
                                <span class="noti-icon-badge"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-lg" aria-labelledby="Preview">
                                <!-- item-->
                                <div class="dropdown-item noti-title">
                                    <h5><small><span class="label label-danger pull-xs-right">7</span>Notificaciones</small></h5>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <i class="zmdi zmdi-email noti-icon"></i>
                                <span class="noti-icon-badge"></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-arrow-success dropdown-lg" aria-labelledby="Preview">
                                <div class="dropdown-item noti-title bg-success">
                                    <h5><small><span class="label label-danger pull-xs-right">7</span>Mensajes</small></h5>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown notification-list">
                            <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button"
                               aria-haspopup="false" aria-expanded="false">
                                <img src="../images/avatar-7.jpg" alt="user" class="img-circle">
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-arrow profile-dropdown " aria-labelledby="Preview">
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="left side-menu">
                <div class="sidebar-inner slimscrollleft" >                   
                    <div id="sidebar-menu">
                        <ul>
                        	<li class="text-muted menu-title">Equipos</li>

                            <li class="has_sub" ng-repeat=" grupo in grupos track by $index">
                                <a href="" class="waves-effect" ng-click="seleccionarGrupo(grupo._id)"><i class="zmdi zmdi-accounts-alt"></i> <span> {{grupo.nombre}} </span></a>
                            </li>

                            <!-- <li class="has_sub">
                                <a href="" class="waves-effect"><span class="label label-success label-pill pull-xs-right">22</span><i class="zmdi zmdi-accounts-alt"></i> <span> Equipo 2 </span> </a>
                            </li>

                            <li class="has_sub">
                                <a href="" class="waves-effect"><i class="zmdi zmdi-accounts-alt"></i><span> Equipo 3 </span> </a>
                            </li> -->

                            <li class="text-muted menu-title">Funciones</li>

                            <li class="has_sub">
                                <a href="/grupo" class="waves-effect"> Crear Grupo </a>
                            </li>

                            <li class="has_sub">
                                <a href="/asignar" class="waves-effect"> Asignar Grupo </a>
                            </li>

                            <!-- <li class="has_sub">
                                <a href="" class="waves-effect"><i class="zmdi zmdi-account"></i><span> Usuario 2 </span></a>
                            </li> -->
                            <!-- <li class="has_sub">
                                <a href="" class="waves-effect"><span class="label label-success label-pill pull-xs-right">7</span><i class="zmdi zmdi-account"></i><span> Usuario 3 </span></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <div class="row">
                            <div class="col-xs-12">
                                <ul id="messages" ng-repeat=" mensaje in mensajes track by $index">
                                  <li><b>{{mensaje.nombreUsuario}}</b>: {{ mensaje.mensaje }}</li>
                                </ul>
                                </div>
                                <div class="row">
                                <form id="chat">
                                  <input id="message" autocomplete="off" ng-model="message" />
                                  <button class="btn btn-primary" ng-click="enviarMensaje()">Enviar</button>
                                </form>
                            </div>
                        </div>
                    </div> <!-- container -->
                </div> <!-- content -->
            </div>
            <div class="row">
                <footer class="footer text-right">
                2016 © UltimaE.
            </footer>
            </div>
        </div>
        <script src="socket.io/socket.io.js"></script>
        <script src="../js/angular.min.js"></script>
        <script src="../js/controller.js"></script>
    </body>
</html>