<!DOCTYPE html>
<html>
<head>
<meta charset="utf8" />
  <title>Registro | ultimatE</title>
  <link href="../css/estiloLogin.css" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css" >
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>

</head>
<body id="fondoLogin" ng-app="app">
<div class="login-card" ng-controller="registerController">
    <h1>ultimatE <br><small style="font-size:15px; line-height:15px">Chat - Metodología Agil</small></h1><br>
  <form>
    <input ng-model="user" type="text" name="user" placeholder="Nombre de Usuario">
    <input ng-model="email" type="email" name="email" placeholder="Correo Electronico">
    <input ng-model="pass1" type="password" name="pass1" placeholder="Contraseña">
    <input ng-model="pass2" type="password" name="pass2" placeholder="Confirma Contraseña">
    <input ng-click="registrar()" type="submit" name="login" class="login login-submit" value="Registrarse">
    <p style="text-align: center;">¿Tienes cuenta? <a href="/login" style="color: blue">Inicia Sesión Aquí</a></p>
  </form>
</div>
<!-- <div id="error"><img src="https://dl.dropboxusercontent.com/u/23299152/Delete-icon.png" /> Your caps-lock is on.</div> -->

<script src="socket.io/socket.io.js"></script>
<script src="../js/angular.min.js"></script>
<script src="../js/controller.js"></script>
</body>
</html>

<!-- chat funcional (sin gestion de usuario)
y que su contenido se guarde en mongodb
ademas que este se cargue al momento de recargar la pagina -->