* {
    
}
form#chat {
    padding: 3px;
    position: fixed;
    margin-top: 33%;
    width: 100%;
}
form input {
    border: 0;
    padding: 10px;
    width: 69%;
    margin-right: .5%;
    box-shadow: 0 0 3px #CC0000;
    margin: 10px;
}
form button {
    width: 8%;
    height: 41px;
    padding: 10px;
}
#messages {
    list-style-type: none;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 3px black; 
    margin: 10px;
}
#messages li {
    padding: 5px 10px;
}
#messages li:nth-child(odd) {
    background: #eee;
}
